<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiar</title>
</head>
<body style="background-color: #24f0d8">
   Mi nombre es {{familiar1.nombre}}, tengo {{familiar1.edad}} años y nací el {{familiar1.nacimiento}}
   <br> 
   El nombre de mi hermano es {{familiar2.nombre}}, tiene {{familiar2.edad}} años y nació el {{familiar2.nacimiento}} 
   <br>
   El nombre de mi hermana es {{familiar3.nombre}}, tiene {{familiar3.edad}} años y nació el {{familiar3.nacimiento}} 
    
</body>
